
body {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.header {
    background-color: #00B4D8;
    color: white;
    margin-bottom: 20px;
}

.top-box {
    height: 100px;
    width: 100px;
    background-color: blue;
    border: solid 10px;
    border-color: orange;
    padding: 20px;
    color: white;
}
.middle-box {
    height: 100px;
    width: 100px;
    background-color: red;
    margin-left: 160px;
}
.bottom-box {
    height: 100px;
    width: 100px;
    background-color: lightgreen;
    border: solid green 15px;
    margin-left: 260px;

}